.linechartWrapper {
  // @apply border rounded-xl border-lavender p-8;
  .headingWrapper {
    @apply flex justify-between;
    p {
      @apply text-lg font-semibold;
    }
    .content {
      @apply flex h-full w-full gap-4 pb-4;
      .datePickerWrapper {
        @apply flex gap-4;
        input {
          @apply border-2 px-2 rounded-md outline-none;
        }
      }
      .dropdownWrapper {
        @apply bg-lavender px-2 py-1 rounded;
        .selectField {
          @apply h-full border-0 bg-transparent  text-bluetiful focus:ring-0  outline-none sm:text-sm;
        }
      }
    }
  }
  .legend {
    @apply flex gap-4 justify-center pt-4;
    .participants {
      @apply flex justify-between items-center gap-3 border px-3 py-1.5 border-lavender rounded;
      .circleBlue {
        @apply w-2 h-2 rounded-full bg-bluetiful;
      }
      p {
        @apply text-xs;
      }
    }
    .clicks {
      @apply flex justify-between items-center gap-3 border px-3 py-1.5 border-lavender rounded;
      .circleMagenta {
        @apply w-2 h-2 rounded-full bg-magenta;
      }
      p {
        @apply text-xs;
      }
    }
  }
}
