.userManagementWrapper {
  @apply p-8;
}
.headingButton {
  @apply flex justify-between items-center;
}
.heading {
  @apply text-blue-900 font-semibold text-2xl pb-3;
}
.organization {
  @apply flex gap-8 items-center pb-6;
}
.orgName {
  @apply text-blue-600;
}
.gridView {
  /* @apply grid grid-cols-1 md:grid-cols-3; */
}
.itemsWrapper {
  @apply shadow-md rounded px-4 py-8 mb-8 w-full md:w-11/12 hover:bg-gray-50;
}
.items {
  @apply flex gap-4;
}
.itemsHeading {
  @apply w-2/5;
}
.itemsDetails {
  @apply w-3/5 whitespace-nowrap overflow-hidden overflow-ellipsis;
}
