.loading {
  @apply flex justify-center items-center h-screen;
}
.heading {
  @apply text-blue-900 font-semibold text-xl pb-4;
}
.tableWrapper {
  @apply w-full pb-10 overflow-scroll;
}
.table {
  @apply w-full table-auto bg-gray-50;
}
.tableHeadRow {
  @apply font-semibold bg-gray-100;
}
.tableBodyRow {
  @apply hover:bg-gray-100 cursor-pointer border-b-2 border-solid border-gray-100;
}
.tableColumn {
  @apply px-7 py-5 text-left capitalize;
}
.headingWithSearch {
  @apply flex justify-between items-center;
}
.searchWrapper {
  @apply flex mr-4;
}
.inputField {
  @apply border-2 p-1 rounded mx-6 w-80 h-10;
}
.userInfoWrapper {
  width: 35rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px #cdcbcb;
}

/* User details styles */
.userDetailsWrapper {
  @apply p-4 flex gap-8;
}
.boxWrapper {
  @apply shadow-md rounded mx-px my-2 p-2;
}
.boxStyle {
  @apply flex justify-between items-center mt-4 p-2 shadow rounded w-full;
}
.transferSide {
  height: 90vh;
  overflow-y: scroll;
}

/* Redemption styles */
.redemptionTab {
  @apply flex gap-6;
}

/* React Pagination */
.paginateWrapper {
  @apply flex justify-center pb-6;
}
.paginateWrapper {
  @apply flex justify-center pb-8;
}
.paginateWrapper ul {
  @apply flex pl-0 list-none;
}
.paginateWrapper ul li a {
  @apply relative block py-2 px-3 -ml-px leading-5 border border-indigo-100  focus:outline-none focus:bg-blue-800 focus:text-white;
}
.paginateWrapper ul li:first-child a {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.paginateWrapper ul li:last-child a {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.active {
  @apply bg-blue-800 text-white z-20;
}
.disabled {
  @apply text-indigo-200 pointer-events-none cursor-auto bg-white;
}

.userActiveButtonsWrapper {
  @apply flex justify-center items-center gap-8 mt-6 p-2 shadow rounded;
}

/* Transfer coiin */
.transferWrapper {
  @apply flex mt-5 gap-6;
}
.coiinInputField {
  @apply border-2 p-1 rounded w-80 h-10;
}
.downloadWrapper {
  @apply flex items-center bg-blue-900 px-4 rounded text-white;
}
