.dashboardWrapper {
  @apply grid grid-cols-6 gap-12;
  .dashboardCol {
    @apply col-span-4;
  }
  .messagesCol {
    @apply col-span-2 border;
  }
}

// .dashboardSection {
//   @apply border border-denimBlue rounded-3xl p-6 m-6;
// }
// .statCardWrapper {
//   @apply flex gap-8 justify-center items-center;
// }
// .analyticsCard {
//   width: 210px;
//   height: 100px;
//   border: 3px solid;
//   @apply border-denimBlue flex flex-col justify-center pl-6 rounded-3xl;
// }
// .circle {
//   width: 35px;
//   height: 35px;
//   @apply rounded-full bg-cyberYellow flex items-center justify-center;
// }
// .analytics {
//   @apply flex gap-4  items-center cursor-pointer text-xl leading-10;
// }

// .campaignSection {
//   @apply border border-denimBlue rounded-3xl py-12 px-6 m-6 mt-16;
// }
