/* Table */
.tableWrapper {
  @apply w-full overflow-x-auto mt-2;
  table {
    @apply w-full table-auto text-sm;
    min-height: 25vh;
    thead {
      // @apply bg-lavender rounded-md;
      tr {
        th {
          @apply px-4 p-0.5 font-normal text-bluetiful bg-lavender;
          &:first-child {
            @apply text-justify rounded-l-md;
          }
          &:last-child {
            @apply text-justify rounded-r-md;
          }
          &:not(:first-child, :last-child) {
            @apply text-center w-2/12;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          @apply px-4 py-3 font-normal;
          &:first-child,
          &:last-child {
            @apply text-justify;
          }
          &:not(:first-child, :last-child) {
            @apply text-center;
          }
        }
        .openStatus {
          @apply text-limeGreen bg-honeydew inline-flex px-2 py-0.5 rounded;
        }
        .closedStatus {
          @apply text-silver bg-cultured inline-flex px-2 py-0.5 rounded;
        }
      }
    }
  }
}

// @apply w-full table-auto bg-lavender p;
// .tableWrapper table thead tr th:first-child,
// th:last-child {
//   @apply text-justify;
// }
// .tableWrapper table thead tr th:first-child {
//   @apply w-1/5;
// }
// .tableWrapper table thead tr th {
//   @apply font-normal py-4;
// }
// .tableWrapper table tbody tr:not(:last-child) {
//   @apply border-b-2 border-denimBlue;
// }
// .tableWrapper table tbody tr td {
//   @apply font-normal py-4;
// }
// .tableWrapper table tbody tr td:not(:first-child, :last-child) {
//   @apply text-center;
// }
