/* Table */
.tableWrapper {
  @apply w-full overflow-x-auto mt-2;
  table {
    @apply w-full table-auto text-sm;
    min-height: 25vh;
    thead {
      tr {
        th {
          @apply px-4 p-0.5 font-normal text-bluetiful bg-lavender;
          &:first-child {
            @apply text-justify rounded-l-md;
          }
          &:last-child {
            @apply text-justify rounded-r-md;
          }
          &:not(:first-child, :last-child) {
            @apply text-center w-2/12;
          }
        }
      }
      .tableRow {
        th {
          @apply p-4;
        }
      }
    }
    tbody {
      tr {
        td {
          @apply px-4 py-3 font-normal;
          &:first-child,
          &:last-child {
            @apply text-justify;
          }
          &:not(:first-child, :last-child) {
            @apply text-center;
          }
        }
        .openStatus {
          @apply text-limeGreen bg-honeydew inline-flex px-2 py-0.5 rounded;
        }
        .closedStatus {
          @apply text-silver bg-cultured inline-flex px-2 py-0.5 rounded capitalize;
        }
      }
    }
  }
}
