.campaign-created-container{
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .campaign-created-text{
    font-size: 24px;
  }
  .created-loading-icon{
    margin-top: 20px;
  }
}

.new-campaign {
  max-width:1000px;
  margin: auto;

  .new-campaign-button {
    margin: 20px;
  }

}


.campaign-type-form{
  min-width : 100% !important;
  padding: 10px;
}


.inline{
 display: inline-block;
}
.third-width{
  width: 33.333%;
}
.half-width{
  width: 50%;
}
.center-text{
  text-align: center;
}
.campaign-type-square{
  padding: 50px 10px;
  margin: 10px;
  width: calc(50% - 20px);
  border-radius: 5px;
  background-color: #efefef;
}

.campaign-funding-square{
  padding: 50px 10px;
  margin: 10px;
  width: calc(50% - 20px);
  border-radius: 5px;
  background-color: #efefef;
}

.budget-input-container{
  width: 100%;
  padding: 10px;
}

.budget-container{
  margin: 10px;
  text-align: center;
  .coiin-svg{
    max-height: 21px;
  }
  svg{
    max-width: 20px;
    max-height: 20px;
  }
}
.setup-container{
  padding: 25px 0;
  margin:  10px;
}
    .selected-item{
      background-color:  $primary;
      p{
        color: white;
      }
    }
.setup-campaign-question{
  font-size: 24px;

}

.white{
  color: white;
}

.black{
  color: black;
}

.setup-campaign{
          font-size: 16px;
          padding: 10px 0;
}
.text-card{
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  p{
    font-size: 14px;
  }
}

.no-top-margin{
  // margin-top: 0;
  margin-top: 0 !important;
}