.new-campaign {
  max-width:1000px;
  margin: auto;

  .new-campaign-button {
    margin: 20px;
  }

  //.form-container {
  //  margin: 2vh;
  //  text-align: center;
  //}
  //
  //.form-item {
  //  margin: 3vh;
  //  width: 400px;
  //}
  //
  //.text-field {
  //  width: 20em
  //}
}
