
.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-header {
  padding-top: 5px;
  border-bottom: 2px solid black;
}

.list-row {
  border-bottom: 1px solid grey;
}

.paper {
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.section {
  overflow-x: auto;
}

.claim-button-container {
  padding-top: 5px;
}

.buy-button-container {
  padding-right: 10px;
}
