.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-header {
  padding-top: 25px;
  border-bottom: 2px solid black;
}

.list-row {
  border-bottom: 1px solid grey;
}

.paper {
  padding: 5px 20px 15px;
}

.section {
  overflow-x: auto;
}

.list-button-container {
  padding-top: 5px;
}

.buy-button-container {
  padding-right: 10px;
}

.add-card-section {
  width: 450px;
}

.text-input {
  width: 450px;
}

.coinTitle {
  .coinIcon {
    margin-right: 5px;
    width: 30px;
    height: 32px;
  }
}
