.topbarWrapper {
  @apply h-16 flex items-end justify-end gap-8;
  .searchbarWrapper {
    @apply flex gap-4 items-center border rounded-xl w-60 h-10 pl-2;
    img {
      @apply w-6 h-6 object-contain;
    }
    .css-b62m3t-container {
      @apply w-full pr-1;
      .css-1s2u09g-control {
        @apply border-0  rounded-xl shadow-none p-0;
        .css-1hb7zxy-IndicatorsContainer {
          span {
            @apply hidden;
          }
          .css-tlfecz-indicatorContainer {
            @apply p-0;
          }
        }
      }
      .css-1pahdxg-control {
        @apply border-0 rounded-xl shadow-none;
        .css-1hb7zxy-IndicatorsContainer {
          span {
            @apply hidden;
          }
          .css-1gtu0rj-indicatorContainer {
            @apply p-0;
          }
        }
      }
    }
  }
  // icons
  .iconWrapper {
    @apply flex gap-4 items-center;
    .profile {
      @apply cursor-pointer;
    }
    .coiinValue {
      @apply flex gap-2 items-center;
      img {
        @apply w-10;
      }
      p {
        @apply font-medium text-sm text-bluetiful;
      }
    }
  }
}
