.dashboard {
  @apply flex relative;
  .side {
    @apply top-0 bottom-0 fixed overflow-y-scroll;
    width: 250px;
    min-height: 100vh;
  }
  .content {
    @apply h-screen;
    margin-left: 250px;
    width: calc(100% - 250px);
    .topbar {
      @apply pr-10;
    }
    .main {
      width: 100%;
      height: calc(100% - 75px);
      overflow-y: scroll;
      overflow-x: hidden;
      // > div:first-child {
      //   height: 100%;
      // }
    }
  }
}
