.side {
  width: 250px;
  min-height: 100vh;
}

.content {
  // @apply w-full bg-yellow-200;
  height: 100vh;
  width: calc(100% - 250px);
}

.topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background: #f3f4f6;
  height: 75px;
  .topbarIcons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.main {
  width: 100%;
  height: calc(100% - 75px);
  overflow-y: scroll;
  overflow-x: hidden;

  > div:first-child {
    height: 100%;
  }
}
