.side {
  width: 300px;
  min-height: 100vh;
}

.content {
  height: 100vh;
  width: calc(100% - 300px);
}

.topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background: #f3f4f6;
  height: 75px;
}

.main {
  width: 100%;
  height: calc(100% - 75px);
  overflow-y: scroll;
  overflow-x: hidden;

  > div:first-child {
    height: 100%;
  }
}
