// campaign setup form styles
.campaignSetupFormWrapper {
  @apply w-full px-0 lg:px-8 xl:px-28;
  .campaignBudgets {
    @apply w-full mt-12;
    .selectFieldsWrapper {
      @apply w-full mt-12;
      .selectField {
        @apply flex  justify-center w-full;
        .selectFieldOutline {
          @apply w-2/6 box-border pr-4;
        }
        .checkboxWrapper {
          @apply w-2/6 flex flex-row justify-center box-border pr-4;
        }
        .checkbox {
          @apply text-denimBlue;
        }
      }
    }
    .raffleInputFieldWrapper {
      @apply flex flex-row justify-between w-full;
      .raffleInputPosition {
        @apply w-2/6 pr-3;
        .inputFieldWrapper {
          @apply mb-4 w-full;
        }
        .checkboxWrapper {
          @apply w-full box-border mt-5;

          .checkbox {
            @apply text-bluetiful;
          }
        }
      }
      .uploadloadFileWrapper {
        @apply flex flex-col justify-start w-2/6 pl-3;
      }
    }
  }
  // social media type input styles
  .socialMediaTypeInputWrapper {
    @apply w-full mt-10;
    p {
      @apply mt-6 text-center text-2xl;
      span {
        @apply text-grayWeb mr-4;
      }
    }
    .checkboxWrapper {
      @apply w-full flex flex-row justify-center items-center mt-10;
      .allChannelsTitle {
        @apply m-0 text-xl font-semibold;
      }
    }
    .socialMediaListWrapper {
      @apply flex flex-row justify-between space-x-4 mt-8;
      .socialPlatForms {
        @apply flex flex-col;
        .socialMedia {
          @apply cursor-pointer flex  justify-center items-center  h-full;
          border-radius: 2rem;
          width: 192px;
          height: 370px;
          p {
            @apply text-base;
          }
          .imageWrapper {
            width: 170px;
            img {
              @apply w-full;
            }
          }
        }
      }
    }
  }

  // campaign type input styles
  .campaignTypeInputWrapper {
    @apply w-full mt-12;
    p {
      @apply mb-4 text-center text-2xl;
      span {
        @apply text-grayWeb mr-4;
      }
    }
    .campaignTypeListWrapper {
      @apply flex flex-row justify-between space-x-4 mt-14;
      .selectField {
        @apply cursor-pointer flex justify-center items-center w-56 h-48 space-y-2;
        border-radius: 2rem;
        .imageWrapper {
          @apply w-44 h-44;
          img {
            @apply w-full h-full object-contain;
          }
        }
      }
      p {
        @apply text-xl font-normal mt-8;
      }
    }
  }

  // campaign budget type input styles
  .campaignBudgetTypesWrapper {
    @apply w-full mt-12;
    p {
      @apply mb-4 text-center text-2xl;
      span {
        @apply text-grayWeb mr-4;
      }
    }
    .campaignBudgetTypeList {
      @apply flex flex-row justify-center gap-4 space-x-4 mt-12;
      .selectField {
        @apply cursor-pointer flex flex-row justify-center items-center rounded-2xl w-64 h-16 border-2 px-2 text-center;
        p {
          @apply text-base m-0;
        }
      }
    }
  }

  .selectedField {
    @apply border-2 border-bluetiful;
  }
}

// campaign setup messages
.setupFormMessage {
  @apply p-10 w-full flex flex-col justify-center items-center;
  p {
    @apply normal-case;
    span {
      @apply cursor-pointer underline text-blue-800 font-semibold;
    }
  }
}
