//-------
.previewScreenWrapper {
  .campaignInfoWrapper {
    @apply flex justify-center flex-col items-center my-8;
    h1 {
      @apply text-4xl;
    }
    .campaignInfoOutline {
      @apply border border-bluetiful  rounded-xl py-4 px-6 mt-6;
      width: 60%;
      .gridRow {
        @apply grid grid-cols-3 gap-4 mb-4;
        .secondCol {
          @apply col-span-2;
          .socialIconsWrapper {
            @apply flex gap-4;
            .imageWrapper {
              @apply w-5 h-5;
              img {
                @apply h-full w-full object-contain;
              }
            }
          }
          .tagValueWrapper {
            @apply overflow-x-scroll;
            .tagBar {
              @apply flex;
              span{
                @apply px-3 py-2 mt-1 mr-2 rounded-full bg-coolGray flex flex-row justify-between items-center;
              }
              p{
                @apply text-xs;
              }
            }
          }
        }
      }
    }
  }
  //!-----------campaign media----------
  .campaignMediaWrapper{
    @apply mt-8;
    // h1{
    //     @apply text-2xl;
    // }
  }
}
//-------
// .previewPageWrapper {
//   @apply border-2 p-6 border-denimBlue rounded-3xl;
// }
// .previewGrid {
//   @apply grid grid-cols-2 gap-4;
// }
// .campaignInfo {
//   @apply border p-6 border-denimBlue rounded-3xl;
// }
// .info {
//   @apply flex p-2 mb-2 items-center;
// }
// .title {
//   @apply w-2/5;
// }
// .value {
//   @apply w-3/5 capitalize;
// }

// .imagePreview {
//   @apply border p-6 border-denimBlue rounded-3xl mt-6 flex justify-center flex-col items-center gap-4;
// }
// .imageBackground {
//   @apply bg-lightGray rounded-3xl w-60 h-44 flex items-center justify-center;
// }
// .previewButton {
//   @apply bg-coolGray w-52 rounded-full px-4 py-2 mt-3;
// }
// .templatesWrapper {
//   @apply border p-6 border-denimBlue rounded-3xl overscroll-y-auto;
// }
// .templatesHeading {
//   @apply text-center mb-3;
// }
// .instagramTemplates {
//   @apply grid grid-cols-5;
// }
// .templatesGrid {
//   @apply col-span-4;
// }
// .grid {
//   @apply grid grid-cols-2;
// }
