// campaign media form styles
.campaignMediaFormWrapper {
  @apply w-full flex flex-col flex-wrap p-10;
  .campaignMediaFormOutline {
    @apply w-full flex flex-col border-solid border-2 border-denimBlue p-5 rounded-3xl;
    .mediaContent {
      @apply flex items-center gap-8;
      img {
        @apply w-16 h-16 object-contain;
      }
      .imageWrapper {
        @apply w-20 h-20 bg-lightGray;
        .image {
          @apply w-full h-full rounded-md object-contain;
        }
      }
    }
  }
  .channelMedias {
    @apply w-full flex flex-col border-solid border-2 border-denimBlue p-5 mt-6 rounded-3xl;
  }
}

// channel media form styles
.channelMediaFormWrapper {
  @apply w-full flex flex-col flex-wrap overflow-x-scroll;
  .channelMediaOutline {
    @apply w-full flex items-center gap-6 mb-2;
    img {
      @apply w-16 h-16 object-contain;
    }
    .contentSpace {
      @apply flex gap-4;
      .uploadedImageWrapper {
        @apply relative;
        .removeIcon {
          @apply w-4 h-4 flex justify-center items-center  absolute right-0 bg-white rounded-full cursor-pointer hover:bg-cyberYellow z-10;
          font-size: 8px;
        }
        .mediaWrapper {
          @apply w-20 h-20  bg-lightGray rounded-md;
          .image {
            @apply w-full h-full rounded-md object-contain;
          }
          .video {
            @apply w-full h-full object-contain rounded-md;
          }
        }
      }
    }
  }
}

// Campaign media styles
.campaignMediaWrapper {
  @apply text-center;
  .imageContent {
    @apply flex justify-center mt-8;
    .imageWrapper {
      @apply w-56 relative;
      height: 30rem;
      .imageSize {
        margin-top: 85px;
        height: 202px;
        width: 200px;
        margin-left: 12px;
        img {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}

// Channel media 1x1 styles
.channelMediaWrapper {
  @apply text-center;
  .imageContent {
    @apply flex justify-center mt-8;
    .imageWrapper {
      @apply w-56 relative;
      height: 30rem;
      .imageTwitter {
        margin-top: 195px;
        height: 157px;
        width: 159px;
        margin-left: 46px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .imageInstagram {
        margin-top: 105px;
        height: 201px;
        width: 203px;
        margin-left: 10px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .imageFacebook {
        margin-top: 70px;
        height: 200px;
        width: 202px;
        margin-left: 11px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .imageTiktok {
        margin-top: 33px;
        height: 355px;
        width: 201px;
        margin-left: 11px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}

// Channel media 3x4 styles
.channelMediaWrapper {
  @apply text-center;
  .imageContent {
    @apply flex justify-center mt-8;
    .imageWrapper {
      @apply w-56 relative;
      height: 30rem;
      .image3x4Twitter {
        margin-top: 123px;
        height: 207px;
        width: 157px;
        margin-left: 47px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .image3x4Instagram {
        margin-top: 93px;
        height: 248px;
        width: 200px;
        margin-left: 12px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .image3x4Facebook {
        margin-top: 75px;
        height: 298px;
        width: 201px;
        margin-left: 12px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .imageTiktok {
        margin-top: 33px;
        height: 355px;
        width: 201px;
        margin-left: 11px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}

// Channel horizontal styles
.channelMediaWrapper {
  @apply text-center;
  .imageContent {
    @apply flex justify-center mt-8;
    .imageWrapper {
      @apply w-56 relative;
      height: 30rem;
      .videoTwitter {
        margin-top: 72px;
        height: 90px;
        width: 157px;
        margin-left: 47px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .videoInstagram {
        margin-top: 61px;
        height: 314px;
        width: 201px;
        margin-left: 12px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .videoFacebook {
        margin-top: 195px;
        height: 111px;
        width: 198px;
        margin-left: 13px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .videoTiktok {
        margin-top: 33px;
        height: 355px;
        width: 201px;
        margin-left: 11px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}
