// campaign media form styles
.campaignMediaFormWrapper {
  @apply w-full flex flex-col flex-wrap p-10;
  .campaignMediaFormOutline {
    @apply w-full flex flex-col border-solid border-2 border-denimBlue p-5 rounded-3xl;
    .mediaContent {
      @apply flex items-center gap-8;
      img {
        @apply w-16 h-16 object-contain;
      }
      .imageWrapper {
        @apply w-20 h-20 bg-lightGray;
        .image {
          @apply w-full h-full rounded-md object-contain;
        }
      }
    }
  }
  .channelMedias {
    @apply w-full flex flex-col border-solid border-2 border-denimBlue p-5 mt-6 rounded-3xl;
  }
}

// channel media form styles
.channelMediaFormWrapper {
  @apply w-full flex flex-col flex-wrap overflow-x-scroll;
  .channelMediaOutline {
    @apply w-full flex items-center gap-6 mb-2;
    img {
      @apply w-16 h-16 object-contain;
    }
    .contentSpace {
      @apply flex gap-4;
      .uploadedImageWrapper {
        @apply relative;
        .removeIcon {
          @apply w-4 h-4 flex justify-center items-center  absolute right-0 bg-white rounded-full cursor-pointer hover:bg-cyberYellow z-10;
          font-size: 8px;
        }
        .mediaWrapper {
          @apply w-20 h-20  bg-lightGray rounded-md;
          .image {
            @apply w-full h-full rounded-md object-contain;
          }
          .video {
            @apply w-full h-full object-contain rounded-md;
          }
        }
      }
    }
  }
}

// Campaign media styles
.campaignMediaWrapper {
  @apply text-center;
  .imageContent {
    @apply flex justify-center mt-8;
    .imageWrapper {
      @apply w-56 relative;
      height: 30rem;
      .imageSize {
        margin-top: 85px;
        height: 202px;
        width: 200px;
        margin-left: 12px;
        img {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}

// ------------Channel media 1x1 styles-----------//
.channelMediaWrapper {
  @apply text-center;
  .imageContent {
    @apply flex justify-center mt-8;
    .imageWrapperTwitter {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 45px;
          top: 270px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 18px;
          top: 270px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .imageTwitter {
        margin-top: 195px;
        height: 157px;
        width: 159px;
        margin-left: 38px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperInstagram {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 12px;
          top: 215px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 215px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .imageInstagram {
        margin-top: 106px;
        height: 201px;
        width: 203px;
        margin-left: 2px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }

      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperFacebook {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        .slick-prev {
          left: 12px;
          top: 190px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 190px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .imageFacebook {
        margin-top: 70px;
        height: 200px;
        width: 202px;
        margin-left: 11px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }

      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperTiktok {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 12px;
          top: 215px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 215px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .imageTiktok {
        margin-top: 33px;
        height: 355px;
        width: 201px;
        margin-left: 3px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }

      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}

// -------------Channel media 3x4 styles--------------//
.channelMediaWrapper {
  @apply text-center;
  .image3x4Content {
    @apply flex justify-center mt-8;
    .imageWrapperTwitter {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 47px;
          top: 235px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 20px;
          top: 235px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .image3x4Twitter {
        margin-top: 123px;
        height: 207px;
        width: 157px;
        margin-left: 39px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperInstagram {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 12px;
          top: 215px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 215px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .image3x4Instagram {
        margin-top: 93px;
        height: 248px;
        width: 200px;
        margin-left: 4px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperFacebook {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 12px;
          top: 230px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 230px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .image3x4Facebook {
        margin-top: 75px;
        height: 298px;
        width: 201px;
        margin-left: 4px;
        img {
          @apply w-full h-full object-cover;
        }
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}

// ------------Channel horizontal styles-------------//
.channelMediaWrapper {
  @apply text-center;
  .imageHzContent {
    @apply flex justify-center mt-8;
    .imageWrapperTwitter {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 48px;
          top: 114px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 20px;
          top: 114px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .videoTwitter {
        margin-top: 72px;
        height: 90px;
        width: 157px;
        margin-left: 39px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperInstagram {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 12px;
          top: 190px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 190px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .videoInstagram {
        margin-top: 61px;
        height: 314px;
        width: 201px;
        margin-left: 4px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
    .imageWrapperFacebook {
      @apply w-56 relative;
      height: 30rem;
      .slick-slider {
        @apply px-2;
        .slick-prev {
          left: 12px;
          top: 250px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
        .slick-next {
          right: 12px;
          top: 250px;
          z-index: 1;
          opacity: 1;
          &::before {
            @apply text-bluetiful;
          }
        }
      }
      .videoFacebook {
        margin-top: 61px;
        height: 314px;
        width: 201px;
        margin-left: 4px;
        video {
          @apply w-full h-full object-cover;
        }
      }
      .mobileImage {
        @apply absolute top-0;
      }
    }
  }
}
