// campaign media form styles
.campaignMediaFormWrapper {
  @apply w-full flex flex-col flex-wrap p-10;
  .campaignMediaFormOutline {
    @apply w-full flex flex-col border-solid border-2 border-denimBlue p-5 rounded-3xl;
    .mediaContent {
      @apply flex items-center gap-8;
      .imageWrapper {
        @apply w-20 h-20 bg-lightGray;
        .image {
          @apply w-full h-full rounded-md object-contain;
        }
      }
    }
  }
  .channelMedias {
    @apply w-full flex flex-col border-solid border-2 border-denimBlue p-5 mt-6 rounded-3xl;
  }
}

// channel media form styles
.channelMediaFormWrapper {
  @apply w-full flex flex-col flex-wrap overflow-x-scroll;
  .channelMediaOutline {
    @apply w-full flex items-center gap-6 mb-2;
    .contentSpace {
      @apply flex gap-4;
      .uploadedImageWrapper {
        @apply relative;
        .removeIcon {
          @apply w-4 h-4 flex justify-center items-center  absolute right-0 bg-white rounded-full cursor-pointer hover:bg-cyberYellow z-10;
          font-size: 8px;
        }
        .mediaWrapper {
          @apply w-20 h-20  bg-lightGray rounded-md;
          .image {
            @apply w-full h-full rounded-md object-contain;
          }
          .video {
            @apply w-full h-full object-contain rounded-md;
          }
        }
      }
    }
  }
}
