.heading3Xl {
  @apply py-4 text-blue-800 text-3xl font-semibold;
}
.heading2Xl {
  @apply py-4 text-blue-800 text-2xl font-semibold;
}
.headingXl {
  @apply text-left p-4 text-blue-800 text-xl font-semibold;
}
