.heading3Xl {
  @apply py-4 text-blue-800 text-3xl font-semibold;
}
.heading2Xl {
  @apply py-4 text-blue-800 text-2xl font-semibold;
}
.headingXl {
  @apply text-left p-4 text-blue-800 text-xl font-semibold;
}
.headingSm {
  @apply text-left text-blue-800 text-base font-semibold;
}
.headingXs {
  @apply text-left text-blue-800 text-sm font-semibold;
}
.paymentHeadingWrapper {
  @apply flex justify-between items-center border-b-2 mb-6 w-full;
}
