.loading {
  @apply flex justify-center items-center h-screen;
}
.heading {
  @apply text-blue-900 font-semibold text-xl pb-4;
}
.tableWrapper {
  @apply w-full pb-10 overflow-scroll;
}
.table {
  @apply w-full table-auto bg-gray-50;
}
.tableHeadRow {
  @apply font-semibold bg-gray-100;
}
.tableBodyRow {
  @apply hover:bg-gray-100 cursor-pointer border-b-2 border-solid border-gray-100;
}
.tableColumn {
  @apply px-7 py-5 text-left;
}

.tableBodyLoading {
  @apply flex justify-center;
}

.searchWrapper {
  @apply flex mr-4;
}
.inputField {
  @apply border-2 p-1 rounded mx-6 w-80 h-10;
}
