@import './../../assets/styles/vars.scss';

.stat-card-wrapper {
  box-shadow: 0px 0px 5px $light-grey;
  padding: 16px;
  .text-circle-wrapper {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 24px !important;
    }
    .circle {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $primary;
    }
  }
  .percentage {
    svg {
      display: inline-block !important;
    }
    p {
      display: inline-block;
      margin-left: 16px;
    }
  }
}
